.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.click-button {
  background-color: #34db6c;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hello-world-animation {
  animation: slideIn 1s ease-in-out;
}
